---
---

@import "{{ site.theme }}";

.page-header {
  #background-image: url(/led-terrarium-pi/assets/img/header.png);
  #background-color: #000000;
  #background-position: calc(50% + 220px) -120px;
  #background-repeat: no-repeat;
  
  background-image: none;
  background-color: transparent;
  padding: 8rem 6rem;
}

.site-logo {
  position: absolute;
  left: calc(50% - 400px);
  top: 50px;
}

.raspberry-pi-logo {
  height: 48px;
  position: absolute;
  left: calc(50% + 215px);
  top: 154px;
}

.button-container {
  top: 100px;
  position: relative;
}
