---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url(/led-terrarium-pi/assets/img/header.png);
  background-position: center -80px;
  background-repeat: no-repeat;
  background-color: #000000;
  padding: 8rem 6rem;
}
